body {
   margin: 0;
   padding: 0;
}
main {
    padding: 16px;

}
footer {
    padding: 2px 30px 2px 30px;
    background-color: #6832AB;
}
img {
    height: 200px;
}
nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #6832AB;

}
a, u {
  text-decoration: none;
  color: #121ecf;
}
.grid_box{
display: grid;
grid-template-columns: 25% 25% 25% 25%;
grid-template-rows: auto;
}
tr:nth-child(even) {
    background-color:gray
}
